.header {
    text-align: center;
    margin: 30px auto 0;
}

.header_title {
    color: #efddde;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: normal;

    margin: 0;
    padding: 0;
}