.button {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 7px 9px;

    border: none;
    background: transparent;
    cursor: pointer;
}


.active {
    border: 1.5px solid #ebd7d7;
    border-radius: 5px;
}